backcall==0.1.0
colorama==0.4.0
cx-Oracle==7.0.0
decorator==4.3.0
Django==2.0.7
ipython==7.0.1
ipython-genutils==0.2.0
jedi==0.13.1
lxml==4.2.5
mysql-connector==2.2.9
mysqlclient==1.4.6
parso==0.3.1
pickleshare==0.7.5
prompt-toolkit==2.0.6
pygame==1.9.4
Pygments==2.2.0
PyMySQL==0.9.3
pytz==2019.2
simplegeneric==0.8.1
six==1.11.0
sqlparse==0.3.0
traitlets==4.3.2
wcwidth==0.1.7
